<!-- 소개페이지 (비회원 첫화면)  -->
  <div class="container-video">
    <video id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
          <source src="/main_vid.mp4" type="video/mp4">
          <source src="/main_vid.webm" type="video/webm">
    </video>
  </div>
  
  
<div class="start_container">
  <section id="start_section_01" class="start_area">
      <section id="begin_section">
        <section class="slogan_section">
          <p>내 손으로 직접 유망주를 데뷔시킨다!</p>
        </section>
        <section class="start_section">
          <button type="button" class="btn-lg btn-outline-warning start_box">
            시작하기
            <!--<%= link_to '시작하기', posts_path, class:"start_btn start_box" %>-->
          </button>
        </section>
        <section class="login_section">
          <div class="login_box">
            <div class="sign_in_form">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email, "이 메 일"  , class: "idnpass"%>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="field">
                  <%= f.label :password, "비밀번호" , class: "idnpass"%>
                  <%= f.password_field :password, autocomplete: "current-password" %>
                </div>
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.label :remember_me, "로그인 상태로 유지하기", class: "maintain" %>
                    <%= f.check_box :remember_me, class: "maintain_ok" %>
                  </div>
                <% end -%>
                <div class="actions">
                  <%= f.submit "로그인", class:"login_button btn-lg btn-outline-warning" %>
                </div>
                <div class="member_submit">
                  <div class="member if_member">아직 회원이 아니신가요?</div>
                  <div class="member join_member">회원가입하기</div>
                </div>
              <% end %>
            </div>
              </div>
        </section>
        <section class="signup_section">
          <div class="signup_box">
            <div class="sign_up_form">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= f.hidden_field :budget, value: 1000000 %>
                  <div class="field">
                    <%= f.label :email, "이메일" , class: "idnpass"%>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                  <div class="field">
                    <%= f.label :password, "비밀번호", class: "idnpass" %>
                    <%= f.password_field :password, autocomplete: "new-password" %>
                  </div>
                  
                  <div class="field">
                    <%= f.label :password_confirmation, "비밀번호 확인", class: "idnpass" %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  </div>
                  비밀번호 6자리 이상 입력<br><br>
                  <div class="field">
                    <%= f.label :user_name, "회원 이름" , class: "idnpass"%>
                    <%= f.text_field :user_name, autofocus: true, autocomplete: "user_nam" %>
                  </div>
                  <div class="field">
                      <%= f.label :img, "프로필 사진", class: "idnpass" %>
                      <%= f.file_field :img, accept: 'image/png,image/gif,image/jpeg'  %>
                    </div>
                  <div class="actions">
                    <%= f.submit "회원가입하기", class:"login_button btn-lg btn-outline-warning" %>
                  </div>
                <% end %>
                <div class="back_login">로그인으로 돌아가기</div>
              </div>
          </div>
</section>
      </section>
    </section>
  <div class="arrow bounce"><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></div>
    <section id="start_section_02" class="intro_company">
      <div class="underdog_info">
        <div class="underdog_img">
          <img src="../ball.svg"></img>
        </div>
        <div class=underdog_description>
          <p>150년이 넘는 축구사에는 많은 변화가 있어왔습니다.</p>
          <p>그 안에서 수많은 슈퍼스타가 탄생했고 떠나갔는데요,</p>
          <p>미래엔 또 얼마나 많은 슈퍼스타들이 생겨날까요?</p>
          <br/>
          <p>언더독은 블록체인의 강력한 탈중앙화 투자 서비스를 제공하며</p>
          <p>대한민국 축구계에 새로운 가능성을 제시합니다.</p>
        </div>
      </div>
      <div class="underdog_how">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">중학교 유소년팀 소속인 택구는<br/>
              3년간 약 2000만원의 
              훈련비가 필요합니다.<br/><br/>
              촉망받는 유망주인 택구는
              본인을 언더독에 등록하여 
              후원금을 받고자합니다.
            </li>
            <li class="list-group-item">14세</li>
            <li class="list-group-item">중학교 유소년(아마추어)</li>
          </ul>
        </div>
        
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">언더독을 통해 투자받은 후원금으로<br/>
              지역 유망주가 된 택구는 
              체육고등학교에 <br/>진학하여
              프로의 꿈을 지속합니다.<br/><br/>
              택구는 다시한번 언더독을 통해 
              4000만원의 훈련비를 더 후원받고자 합니다.
            </li>
            <li class="list-group-item">17세</li>
            <li class="list-group-item">고등학교 유소년(아마추어)</li>
          </ul>
        </div>
        
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">드디어 프로 데뷔에 성공한 택구는 
              본인 월급의 <br/>20%인 
              350만원을 자신에게
              투자한 <br/>후원자들에게
              5년 간 매월 나누어 배분합니다.
            </li>
            <li class="list-group-item">22세</li>
            <li class="list-group-item">성남 FC(프로)</li>
          </ul>
        </div>
        
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">5년간  프로 무대에서 활약하며
              후원자들에게 보답한 택구는 
              이제 충분한 보답을 해냈고,<br/>
              이젠 언더독을 떠나 스스로 
              선수 전성기를 보내게 됩니다. 
            </li>
            <li class="list-group-item">27세</li>
            <li class="list-group-item">성남 FC(프로)</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="start_section_03" class="overview_company">
      <div class="player_info">언더독에 등록된 유망주들</div>
      <div class="player_description">
        <div class="card card1">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            
            </li>
            <li class="list-group-item">
              
            </li>
            <li class="list-group-item">
              <p>강우재</p>
              <p>14살 221일</p>
              <p>후원 가능한 코인갯수 : 400코인</p>
              <p>1코인당 13,333원</p>
              <br/>
              <br/>
            </li>
          </ul>
        </div>
        <div class="card card2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            
            </li>
            <li class="list-group-item">
            
            </li>
            <li class="list-group-item">
              <p>강우재</p>
              <p>14살 221일</p>
              <p>후원 가능한 코인갯수 : 400코인</p>
              <p>1코인당 13,333원</p>
              <br/>
              <br/>
            </li>
          </ul>
        </div>
        
        <div class="card card3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            
            </li>
            <li class="list-group-item">
            
            </li>
            <li class="list-group-item">
              <p>강우재</p>
              <p>14살 221일</p>
              <p>후원 가능한 코인갯수 : 400코인</p>
              <p>1코인당 13,333원</p>
              <br/>
              <br/>  
            </li>
          </ul>
        </div>
        
        <div class="card card4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              더 많은 미래의 주인공들을 만나보세요.
            </li>
          </ul>
        </div>
      </div>
    </section>
</div>


<script>
  
$('.start_box').click(function(){
    $('.start_section').fadeOut("fast", function() {
        $('.slogan_section').css('display', 'none');
        $('.login_section').fadeIn("slow").css('display', 'flex');
        $('.login_section').addClass('is_active',"slow");
    });
});

$('.join_member').click(function(){
    $('.login_section').fadeOut("fast", function() {
        $('.signup_section').fadeIn("slow").css('display', 'flex');
        $('.signup_section').addClass('is_active',"slow");
    });
});

$('.back_login').click(function(){
    $('.signup_section').fadeOut("fast", function() {
        $('.login_section').fadeIn("slow").css('display', 'flex');
        $('.login_section').addClass('is_active',"slow");
    });
});

$(function(){  // $(document).ready shorthand
  $('.logo').fadeIn('fast');
});

$(document).ready(function() {
    
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
    
        /* Check the location of each desired element */
        $('.underdog_info').each( function(i){
            
            var bottom_of_object = $(this).position().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                
                $(this).animate({'opacity':'1'},2000);
                    
            }
            
        }); 
    
    });
    
});

</script>