<div class="player_detail_page">
    <div class="player_lnb_wrapper">
        <div class="player_profile">
          <div class="player_profile_img">
            <%= image_tag("#{current_user.img}") %>
          </div>
          <div class="player_name">
            <p class="kr_name">
              <span><%= image_tag("football.png") %></span><%= current_user.user_name %><span><%= image_tag("football.png") %></span>
            </p>
            <p class="en_name">ME</p>
          </div>
          <div>
            <p>현재 내 코인 <span></span></p>
          </div>
        </div>
        <ul class="player_lnb">
          <li><a href="#player_detail_info" class="active">후원중인 선수</a></li>
          <li><a href="#player_support">판매중인 코인</a></li>
          <li><a href="#player_news">수익 지출 내역</a></li>
        </ul>
    </div>
    <section id="mypage_info">
      <div class="detail_content">
        <p>충전된 금액<br>
          <%= current_user.budget %><br>
        </p>
        <p>내가 후원한 게시글과 코인<br></p>
        <% coin_num = @coins.group(:post_id).order("post_id").count 
        coin_num.each do |k,v| 
             @post = Post.find(k.to_i) %>
             <%= @post.title %>에 <%=v%>개의 코인이 있습니다.
             해당 코인은 (선수 이름)의 연봉 (얼마)의 가치입니다.
             <hr>
        <%end%>
        
        <hr>
        내 포스트 후원 현황<br>
        <% @posts.each do |post| %>
            내 포스트 제목: <%= post.title %><br> 
            <% @bidings = Biding.where(:post_id => post.id) %>
            <% sum_coin = post.coin_left.to_i %> 
            <% num = @bidings.group(:price).order("price DESC").count %>
            <% num.each do |k,v| %>
                <%= k %>원 수량<%= v %>개 
                <% kum_coin = sum_coin - v
                  if kum_coin >= 0 && sum_coin > 0 %>
                    낙찰 예정 
                <%elsif kum_coin < 0 && sum_coin > 0 %>
                    선착순 부분 낙찰 예정
                <%else%>
                    대기
                <%end%>    
                <%sum_coin = kum_coin %>
                <br>
            <% end %>
            
            <form action="/home/spon_end" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
                <input type="hidden" name="post_id" value=<%=post.id%>></input>
                <input type="hidden" name="coin_left" value=<%=post.coin_left%>></input>
                <input type="hidden" name="coin_rate" value=<%=post.coin_rate%>></input>
                <input type="submit" value="내 후원 종료시키기"></input>
            </form>
        <% end %>
      </div>
        
    </section>
</div>





