<div class="container">
  <p id="notice" style='padding-top: 10rem'><%= notice %></p>
  <!--이름/ 키 / 몸무게 / 소속팀 / 이미지 1~4 / 동영상-->
  <h1>등록된 선수목록을 보여줍니다.</h1>
  
  <div class='row'>
    <% @players.each do |player| %>
      <div class="col-sm-12 col-md-6 col-xl-3">
        <a href = "/players/<%= player.id %>">  
          <div class="card h-card">
            <div class="h-img-wrapper">
              <% if !player.image1.blank? %>
                <img class="card-img-top h-img" src="<%= player.image1 %>" alt="Card image cap">
              <% else %>
                <%= image_tag("placeholder_fest.jpeg", class: "card-img-top h-img") %>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="h-card-title" style="color:#09083a;"><%= player.name %></h5>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<%= paginate @players %>
</div>
<% if current_user.register == true %>
  <a  href="/players/new" onclick="alert('선수등록은 한 번만 할 수 있다!'); return false;">선수등록</a>
<%else%>
  <a  href="/players/new">선수등록</a>
<%end%>

