
<!--후원-->
<div class="container-fluid post_main">
  <div class="row  post_sub">
    <section class="banner_section">
      <div class="wrapper">
        <div class="slogan">당신의 유망주를 후원해보세요.</div>
        <div class="wrap">
           <div class="search">
              <input type="text" class="searchTerm" placeholder="Who are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
             </button>
           </div>
        </div>
      </div>
    </section>
  </div>
  <div class="row">
    <section class="funding_section">
      <%= link_to '후원 게시글 올리기', new_post_path %>
    </section>
  </div>
  <div class="row ddd">
    <% @posts.each_with_index do |post,i| %>
      <div class="col-sm-12 col-md-6 col-xl-3">
        <a href = "/posts/<%= post.id %>">  
          <div class="card h-card">
            <div class="h-img-wrapper">
              <% if !post.image.blank? %>
                <img class="card-img-top h-img" src="<%= post.image %>" alt="Card image cap">
              <% else %>
                <%= image_tag("placeholder_fest.jpeg", class: "card-img-top h-img") %>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="h-card-title"><%= post.title %></h5>
              <% @user = User.find(post.user_id) %>
              <p><%=@user.user_name%> 선수</p>
              <div class="progress<%=i%> custom-progress"></div>
                <%#=Biding.where(:post_id => post.id).count %>
                <%#=post.coin_left %>
              <% if post.bid_closing_at.blank? %>
             
              <% else %>
                <% @bb = (Biding.where(:post_id => post.id).count.to_f/post.coin_left.to_f).to_f*100 %>
                <% @d_day = (post.bid_closing_at-Time.zone.now)/1.day %>
                <% if @d_day.to_i > 0 %>
                  <span><%= @d_day.to_i %>일 남음</span>
                <% else %>
                  <span>종료된 후원입니다.</span>
                <% end %>
              <% end %>
              <% @sum = 0
              @bidings = Biding.where(:post_id => post.id) 
              @bidings =  @bidings.order("price DESC").limit(post.coin_left)
              @bidings.each do |biding|
                @sum += biding.price
              end %>
              <span>모인금액:<%=@sum%>원</span>
              <%if @bb.to_i < 100 %>
              <span><%=@bb.to_i%>%</span>
              <%else%>
              <span>100%</span>
              <%end%>
              </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>




<%= paginate @posts %>

<script>
var prog = new Array();
for (var i=0;i< <%=@posts.length%>;i++) {
      prog.push($(".progress"+i));
}



<% @posts.each_with_index do |post,i| %>
<%= @bb = (Biding.where(:post_id => post.id).count.to_f/post.coin_left.to_f).to_f*100 %>
    prog[<%=i%>].progressbar({
      	min: 0,
        max: 100,
      	value:  <%=@bb.to_i%>,
    	  range: "min",
      	slide: function(event, ui) {

        	//document.getElementById("record_audio").volume = (ui.value/100);
      	}
    });
<%end%>

</script>

<style>
  .ui-widget.ui-widget-content{
    border: 1px solid black;
    background-color : rgb(240, 242, 231);
    
  }
  .custom-progress{
    height :9px;
    margin-bottom: 1rem;
  }
  .ui-progressbar .ui-progressbar-value{
    margin : 0;
    background-color: #ff512f;
    
  }
  .card{
    background-color: rgba(0,0,0,0.3);
  }
  .card-body{
    background: transparent;
    color: white;
    font-size: 1.6rem;
    padding-top: 2rem;
  }
  .card-body h5{
    color: white;
  }
  .ddd{
    width: 76%;
    margin: 0 auto;
  }
</style>