<p id="notice"><%= notice %></p>

<p>
  <strong>후원 제목</strong>
  <%= @post.title %>
</p>

<p>
  <strong>후원 내용</strong>
  <%= @post.content %>
</p>

<p>
  <% if @post.ongoing == true %>
    진행중인 후원
  <% else %>
    종료된 후원
  <% end %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag("#{@post.image}") %>
</p>

<p>
  <strong>Coin left:</strong>
  <%= @post.coin_left %>
</p>

<p>
  <strong>Coin rate:</strong>
  <%= @post.coin_rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
