
<section class="spon_section">
  <% @player = Player.where(:user_id => User.find(@post.user_id).id) %>

  <!-- <a href="/player/<%#=@player.id%>"> --> 
  <!-- 선수등록해야지만 올릴수 있게 한 후 -->
  <div class="spon_player_img" style="background-image: url(<%=@post.image%>);">
    <div class="player_name_div">
      <p class="korea_name"><%= User.find(@post.user_id).user_name %></p> <!--수정 -->
      <p class="english_name">
        <% if @post.ongoing == true %>
        진행중인 후원
        <% else %>
        마감된 후원
        <% end %>
      </p> <!--수정 -->
    </div>    
  </div>
  </a>
  <div class="spon_form">
    <div class="progress custom_progress"></div>
    <div class="progress_percent">
      <% @bb = (Biding.where(:post_id => @post.id).count.to_f/@post.coin_left.to_f).to_f*100%>
      <%= @bb.to_i %>%
    </div>
    <div class="spon_form_info">
      <div class="spon_form_info_detail">
        <div class="form_field">
          <span class="f_title">남은날짜</span>
          <% @bb = (Biding.where(:post_id => @post.id).count.to_f/@post.coin_left.to_f).to_f*100 %>
          <% @d_day = (@post.bid_closing_at-Time.zone.now)/1.day %>
          <% if @d_day.to_i > 0 %>
            <span class="f_content"><%= @d_day.to_i %>일</span>
          <% else %>
            <span class="f_content">종료된 후원입니다.</span>
          <% end %>
          </div>
        <div class="form_field">
          <span class="f_title">옥션수량</span>
          <span class="f_content"><%=@post.coin_left%>개</span>
        </div>
        <div class="form_field">
          <span class="f_title">옥션시작 가격(1개, 부과세포함)</span>
          <% @start = @post.coin_rate %>
          <% if @start < 10000 %> 
          <span class="f_content"><%=@start%>원</span>
          <% else %>
          <% @start_m = @start/10000
          @start_c = @start - @start_m %>
          <span class="f_content"><%=@start_m%>만<%@start_c%>원</span>
          <% end %>
        </div>
        <%= form_for(@biding) do |f| %>
        <div class="form_field">
          <% if @post.user_id == current_user.id %>
          <span>나의 게시글</span>
          <% else %>
          <span class="f_title">입찰수량</span>
          <%= f.text_field :coin_count, class: "y_input" %>
        </div>
        <div class="form_field">
          <span class="f_title">입찰가격(1개, 부과세 포함)</span>
          <%= f.text_field :price, class: "y_input"%>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
        </div>
        <div class="form_field">
          <span class="f_title">총 입찰가격</span>
           <% @sum = 0
              @bidings = Biding.where(:post_id => @post.id) 
              @bidings =  @bidings.order("price DESC").limit(@post.coin_left)
              @bidings.each do |biding|
                @sum += biding.price
              end 
              @start_mm = @sum/1000
              @start_cc = @sum - @start_mm%>
          <span class="f_content"><%=@start_mm%>만<%@start_cc%>원</span>
        </div>
        <div class="form_field">   
              <%= f.submit "입찰하기", class: "bid_btn" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="spon_form_info_detail2">
        <p>입찰현황</p>
        <% sum_coin = @post.coin_left.to_i %> 
        <% num = @bidings.group(:price).order("price DESC").count %>
        <% num.each do |k,v| %>
          <div class="bid_f"><span>
          <%= k %>원 수량<%= v %>개 
          <% kum_coin = sum_coin - v
            if kum_coin >= 0 && sum_coin > 0 %>
              낙찰 예정 
          <%elsif kum_coin < 0 && sum_coin > 0 %>
              선착순 부분 낙찰 예정
          <%else%>
              대기
          <%end%>    
          <%sum_coin = kum_coin %></span>
          <hr>
          </div>
        <%end%>        
      </div>
      <div class="spon_float_end"></div>
    </div>
  </div>
  <div class="spon_section_float_end">
  </div>
</section>
<section class="spon_info">
  
</section>
<section class="spon_media">
  
</section>
<section class="spon_reward_info">
  <div class="s_r"><span>투자요약</span></div>
  <div class="spon_reward_form">
    <div class="s_r_field">
      <div class="s_r_l">상환 예정</div>
      <div class="s_r_m"><%=@post.reward_day%></div>
    </div>
    <div class="s_r_field">
      <div class="s_r_l">상환 재원</div>
      <div class="s_r_m"><%=@post.reward_source%></div>      
    </div>
    <div class="s_r_field">
      <div class="s_r_l">상환 방식</div>
      <div class="s_r_m"><%=@post.reward_way%></div>      
    </div>
    <div class="s_r_field">
      <div class="s_r_l">자금 용도</div>
      <div class="s_r_m"><%=@post.reward_use%></div>      
    </div>
    <div class="s_r_field">
      <div class="s_r_l" >펀딩 시작일</div>
      <div class="s_r_m"><%= @post.created_at.strftime("%Y. %m. %d")  %></div>      
    </div>
    <div class="s_r_field">
      <div class="s_r_l">펀딩 종료일</div>
      <div class="s_r_m"><%= @post.bid_closing_at.strftime("%Y. %m. %d")  %></div>      
    </div>
  </div>
</section>

<script>

<%= @bb = (Biding.where(:post_id => @post.id).count.to_f/@post.coin_left.to_f).to_f*100 %>

    $(".progress").progressbar({
      	min: 0,
        max: 100,
      	value:  100-<%=@bb.to_i%>,
    	  range: "min",
      	slide: function(event, ui) {
        	//document.getElementById("record_audio").volume = (ui.value/100);
      	}
    });


</script>
<style>
  .ui-widget.ui-widget-content{
    border: 0px solid #ff512f;
    background-color :  #ff512f;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .custom_progress{
    height :5px;
    margin-top:3vh;
    
  }
  .ui-progressbar .ui-progressbar-value{
    margin : 0;
    background-color: rgb(235,235,235);
    border-color : rgb(235,235,235);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  
</style>

  