
<section class="spon_section">
  <div class="spon_player_img" style="background-image: url(<%=@post.image%>);">
    <div class="player_name_div">
      <p class="korea_name">이승우</p> <!--수정 -->
      <p class="english_name">lee seung woo</p> <!--수정 -->
    </div>    
  </div>
  <div class="spon_form">
    <div class="progress custom_progress"></div>
    <div class="progress_percent">
      <% @bb = (Biding.where(:post_id => @post.id).count.to_f/@post.coin_left.to_f).to_f*100%>
      <%= @bb.to_i %>%
    </div>
    <div class="spon_form_info">
      <div class="spon_form_info_detail">
        <div class="form_field">
          <span class="f_title">남은날짜</span>
          <% @bb = (Biding.where(:post_id => @post.id).count.to_f/@post.coin_left.to_f).to_f*100 %>
          <% @d_day = (@post.bid_closing_at-Time.zone.now)/1.day %>
          <% if @d_day.to_i > 0 %>
            <span class="f_content"><%= @d_day.to_i %>일</span>
          <% else %>
            <span class="f_content">종료된 후원입니다.</span>
          <% end %>
          </div>
        <div class="form_field">
          <span class="f_title">옥션수량</span>
          <span class="f_content"><%=@post.coin_left%>개</span>
        </div>
        <div class="form_field">
          <span class="f_title">옥션시작 가격(1개, 부과세포함)</span>
          <% @start = @post.coin_rate %>
          <% if @start < 10000 %> 
          <span class="f_content"><%=@start%>원</span>
          <% else %>
          <% @start_m = @start/10000
          @start_c = @start - @start_m %>
          <span class="f_content"><%=@start_m%>만<%@start_c%>원</span>
          <% end %>
        </div>
      </div>
      <div class="spon_form_info_detail2"></div>
      <div class="spon_float_end"></div>
    </div>
  </div>
  <div class="spon_section_float_end">
  </div>
</section>
<section class="spon_info">
  
</section>
<section class="spon_media">
  
</section>
<section class="spon_reward_info">
  
</section>

<script>

<%= @bb = (Biding.where(:post_id => @post.id).count.to_f/@post.coin_left.to_f).to_f*100 %>

    $(".progress").progressbar({
      	min: 0,
        max: 100,
      	value:  100-<%=@bb.to_i%>,
    	  range: "min",
      	slide: function(event, ui) {
        	//document.getElementById("record_audio").volume = (ui.value/100);
      	}
    });


</script>
<style>
  .ui-widget.ui-widget-content{
    border: 0px solid #ff512f;
    background-color :  #ff512f;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .custom_progress{
    height :5px;
    margin-top:3vh;
    
  }
  .ui-progressbar .ui-progressbar-value{
    margin : 0;
    background-color: rgb(235,235,235);
    border-color : rgb(235,235,235);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  
</style>











<br><br><br><br><br><br>
<p>
  <strong>후원 제목</strong>
  <%= @post.title %>
</p>

<p>
  <strong>후원 내용</strong>
  <%= @post.content %>
</p> 


  <% if @post.ongoing == true %>
    현재 진행중인 후원입니다.
    마감 날짜: <%= @post.bid_closing_at.strftime("%Y년 %m월 %d일")  %><br>
    남은 날짜: 
    <% @d_day = (@post.bid_closing_at - Time.zone.now)/1.day %>
    <%= @d_day.to_i %>일
  <% else %>
    종료된 후원입니다.
    마감된 날짜: <%= @post.bid_closing_at.strftime("%Y년 %m월 %d일")  %> 
  <% end %>
<br>

<p>
  <strong>Image:</strong>
  <%= image_tag("#{@post.image}") %>
</p>

<p>
  <strong>Coin left:</strong>
  <%= @post.coin_left %>
</p> 

<p>
  <strong>Coin rate:</strong>
  <%= @post.coin_rate %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@post.user_id).user_name %>의 글입니다.
</p>
<% sum_coin = @post.coin_left.to_i %> 
<% num = @bidings.group(:price).order("price DESC").count %>
<% num.each do |k,v| %>
  <%= k %>원 수량<%= v %>개 
  <% kum_coin = sum_coin - v
    if kum_coin >= 0 && sum_coin > 0 %>
      낙찰 예정 
  <%elsif kum_coin < 0 && sum_coin > 0 %>
      선착순 부분 낙찰 예정
  <%else%>
      대기
  <%end%>    
  <%sum_coin = kum_coin %>
<%end%>

<% if @post.user_id == current_user.id %>
<!-- 자신의 글에는 입찰할 수 없게 -->
<% else %>
  <%= form_for(@biding) do |f| %>
  
    <div class="field">
      시작가보다 높은 가격을 입찰해 주세요
      <%= f.text_field :price %>
    </div>
    <div class="field">
      몇개의 코인을 구매하시겠습니까?
      <%= f.text_field :coin_count %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: @post.id %>
  
    <div class="actions">
      <%= f.submit "입찰하기" %>
    </div>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
