<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


</head>
<body>
  <header class="header">
    <div class="logo">
      <h1><a href="/">UNDERDOG</a></h1>
    </div>
    <% if user_signed_in?%>
      <nav class="home_navigation">
        <ul style="display:flex; align-items:center;">
          <li><a href="/posts">후원 하기</a></li>
          <li><a href="/players">선수 보기</a></li>
          <li><a href="/markets">자유시장</a></li>
          <li><a href="/">개발자소개</a></li>
          <li style="display:flex; flex-direction:column; justify-content:center;"><a href="/home/mypage">
            <div style="width:66px; height:66px; border-radius:66px; overflow:hidden; display:flex; justify-content:center;">
              <% if current_user.img.blank? %>
                <% profile_imgs = ['/underdog1.png','/underdog2.jpg','/underdog3.jpg','/underdog4.jpg','/underdog5.jpg','/underdog6.jpg','/underdog7.jpg','/underdog8.jpg','/underdog9.jpg','/underdog10.jpg','/underdog11.jpg']
                profile_img = profile_imgs.sample %>
                <%= image_tag(profile_img,class:"nav_profile_img") %>
              <% else %>
                <%= image_tag("#{current_user.img}",class:"nav_profile_img") %>
              <%end%>
            </div>
            </a>
          </li>
          <li><a href="/users/sign_out" data-method="delete" style="margin-right:2rem;">로그아웃</a></li>
        </ul>
      </nav>
    <% else %>
      <nav class="start_navigation">
          <button type="button" class="btn-lg btn-outline-warning">시작하기</button>
      </nav>
    <% end %>
  </header>
  <!--<p style='padding-top:10rem'></p>-->
    <%= yield %>

</body>
</html>
<script>
$(window).scroll(function(){
    $(".arrow").css("opacity", 1 - $(window).scrollTop() / 250); 
  //250 is fade pixels
  });</script>