<p id="notice"><%= notice %></p>

<p>
  <strong>Reward:</strong>
  <%= @coin.reward %>
</p>

<p>
  <strong>Post:</strong>
  <%= @coin.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @coin.user_id %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
